@charset "utf-8";
main {
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
.breadcrumbs {
  margin: 8px auto 0;
}
section.kv_area {
  padding-top: 0;
}
span.page_ttl {
  top: 30%;
}
span.page_ttl.js_typing::before {
  content: "";
  display: inline-block;
  background: url(../img/diagnostic_referral/kv_icon.png) no-repeat center center / contain;
  width: 140px;
  height: 140px;
  position: absolute;
  top: -520%;
  left: 46%;
}
section {
  padding: 80px 0;
}
.sec_inner {
  max-width: 1110px;
  margin: 0 auto;
}
h2 {
  font-size: 32px;
  color: #41c3de;
  font-weight: bold;
  text-align: center;
  margin-bottom: 72px;
  position: relative;
  line-height: 1.4;
}
h2::after {
  position: absolute;
  content: "";
  background-color: #41c3de;
  border-radius: 20px;
  width: 72px;
  height: 6px;
  bottom: -24px;
  left: 50%;
  transform: translateX(-50%);
}
p {
  font-size: 18px;
  line-height: 1.7;
}
.cognitive_function .cognitive_function_lead {
  margin-bottom: 32px;
}
.cognitive_function .cognitive_function_box {
  background-color: #fff;
  border: 3px dotted #41c3de;
  border-radius: 20px;
  padding: 40px 48px;
  margin-bottom: 48px;
  position: relative;
}
.cognitive_function .cognitive_function_box ul.cognitive_function_list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 17px;
}
.cognitive_function .cognitive_function_box ul.cognitive_function_list li {
  font-size: 18px;
  font-weight: bold;
  width: 37%;
}
.cognitive_function .cognitive_function_box ul.cognitive_function_list li {
  position: relative;
  display: inline-flex;
  align-items: center;
}
.cognitive_function .cognitive_function_box ul.cognitive_function_list li:before {
  content: "";
  display: inline-block;
  background: url(../img/diagnostic_referral/checkmark_blue.png) no-repeat center center / contain;
  width: 33px;
  height: 28px;
}
.cognitive_function .cognitive_function_box ul.cognitive_function_list li:nth-child(1),
.cognitive_function .cognitive_function_box ul.cognitive_function_list li:nth-child(2) {
  margin-bottom: 17px;
}
.cognitive_function .cognitive_function_box ul.cognitive_function_list li span {
  padding-left: 10px;
}
.cognitive_function_image {
  position: absolute;
  width: 17%;
  right: 6%;
  top: -16%;
}
.sec_title {
  position: relative;
}
.prevention {
  background-color: #eefcff;
}
.prevention_title_image {
  width: 10%;
  position: absolute;
  top: -40%;
  left: 6%;
}
.prevention_box {
  background-color: #fff;
  border: 3px dotted #41c3de;
  border-radius: 20px;
  padding: 48px 80px;
  margin-bottom: 48px;
  position: relative;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
.prevention_box::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 0;
  background: url(../img/diagnostic_referral/bg_prevention.png) no-repeat right 7% bottom 7% / min(41.8vw, 494px) auto;
}
.prevention_image_box,
.prevention_txt {
  position: relative;
  z-index: 1;
}
.prevention_image_box {
  width: 34%;
}
.prevention_image_box p {
  font-size: 14px;
}
.prevention_txt {
  width: 62%;
}
.prevention_txt p:not(:last-child) {
  margin-bottom: 32px;
}
.prevention_txt p .underline_yellow {
  background: linear-gradient(transparent 70%, #fde67c 70%);
}
.prevention_txt p strong {
  font-weight: bold;
}
.prevention_txt p span {
  position: relative;
}
.prevention_txt p span.underline_yellow:after {
  border-bottom: 8px solid #fde67c;
}

.merit_item {
  background-color: #fff;
  border: 3px dotted #fcd214;
  border-radius: 20px;
  padding: 80px;
  margin-bottom: 48px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.merit_box {
  width: 68%;
}
.merit_badge {
  position: absolute;
  inset: 0 auto auto 0;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 155px;
  height: 155px;
  padding: 10px 12px 10px 14px;
  background: #fcd214;
  color: #111;
  font-weight: 700;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  z-index: 2;
  top: -3px;
  left: -3px;
}
.merit_badge_inner {
  position: absolute;
  left: 28.333%;
  top: 33.333%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
  text-align: center;
}
.merit_label {
  font-size: 14px;
}
.merit_num {
  font-size: 45px;
}
.merit_title {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 32px;
}
.merit_image {
  width: 27%;
}
.operation {
  background-color: #eefcff;
}
.operation .operation_title_image {
  position: absolute;
  top: -30%;
  left: 6%;
  width: 18%;
}
.operation .operation_lead {
  text-align: center;
  margin-bottom: 65px;
}
.operation .operation_list {
  display: flex;
  gap: 33px;
}
.operation .operation_list li {
  width: 25%;
  background-color: #fff;
  border: 3px dotted #41c3de;
  border-radius: 20px;
  padding: 52px 24px 40px;
  margin-bottom: 48px;
  position: relative;
  overflow: visible;
}
.operation .operation_list li:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 15px solid #41c3de;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  top: 46%;
  right: -13%;
}
.operation .operation_list li .operation_num {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  width: 48px;
  height: 48px;
  background-color: #41c3de;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.operation .operation_list li .operation_image {
  margin-bottom: 32px;
}
.supervisor_new {
  background-color: #eefcff;
}
.supervisor_new .sec_inner {
  display: flex;
  gap: 44px;
}
.supervisor_new_image {
  width: 22%;
}
.supervisor_new_box h2 {
  text-align: left;
  margin-bottom: 40px;
}
.supervisor_new_box h2::after {
  width: 100%;
  height: 1px;
  bottom: -16px;
}
.supervisor_new_box h2 .supervisor_name {
  font-size: 37px;
  color: #707070;
}
.supervisor_new_box h2 .supervisor_sub_title {
  font-size: 26px;
  color: #707070;
}
.supervisor_new_box .supervisor_new_txt {
  font-size: 14px;
  display: flex;
  gap: 64px;
}
.supervisor_new_box .career p {
  font-size: 14px;
}
.supervisor_new_box .career p .year {
  padding-right: 1em;
}
.foot_bnr_area {
  display: none;
}

@media only screen and (max-width: 1366px) {
  .breadcrumbs {
    max-width: 95%;
  }
  span.page_ttl.js_typing::before {
    width: 130px;
    height: 130px;
    top: -230%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
}
@media only screen and (max-width: 1176px) {
  span.page_ttl.js_typing::before {
    width: 110px;
    height: 110px;
  }
  .app_service .app_service_list > li {
    width: 100%;
    padding: 24px;
  }
}
@media only screen and (max-width: 780px) {
  article.page .kv_top {
    max-width: 100%;
  }
  article.page .kv_top img {
    aspect-ratio: 2 / 1;
  }
  span.page_ttl.js_typing::before {
    width: 90px;
    height: 90px;
    top: -160%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  h2 {
    font-size: 20px;
    margin-bottom: 44px;
  }
  h2::after {
    width: 48px;
    height: 4px;
    bottom: -16px;
  }
  p {
    font-size: 14px;
  }
  section {
    padding: 40px 0;
  }
  .sec_inner {
    padding: 0 20px;
  }
  .cognitive_function .cognitive_function_lead {
    margin-bottom: 40px;
  }
  .cognitive_function .cognitive_function_box {
    padding: 24px;
    margin-bottom: 24px;
  }
  .cognitive_function .cognitive_function_box ul.cognitive_function_list {
    align-content: flex-start;
    gap: 16px;
    flex-direction: column;
  }
  .cognitive_function .cognitive_function_box ul.cognitive_function_list li {
    font-size: 16px;
    width: 100%;
    align-items: flex-start;
  }
  .cognitive_function .cognitive_function_box ul.cognitive_function_list li:not(:last-child) {
    margin-bottom: 16px;
  }
  .cognitive_function .cognitive_function_box ul.cognitive_function_list li:before {
    width: 30px;
    height: 25px;
  }
  .cognitive_function_image {
    width: 34%;
    right: 3%;
    top: -14%;
  }
  .prevention_title_image {
    width: 20%;
    top: 260%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  .prevention_box {
    margin-top: 160px;
    padding: 24px;
    margin-bottom: 30px;
    flex-direction: column-reverse;
    gap: 32px;
  }
  .prevention_image_box {
    width: 100%;
  }
  .prevention_image_box .prevention_image {
    margin-left: 25px;
  }
  .prevention_txt {
    width: 100%;
  }
  .prevention_txt p:not(:last-child) {
    margin-bottom: 24px;
  }
  .prevention_box::after {
    display: none;
  }
  .merit_item {
    padding: 24px;
    margin-bottom: 16px;
    flex-direction: column;
  }
  .merit_box {
    width: 100%;
  }
  .merit_badge {
    width: 72px;
    height: 72px;
    left: unset;
    right: -3px;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
  }
  .merit_badge_inner {
    left: unset;
    right: -25.667%;
  }
  .merit_label {
    font-size: 10px;
  }
  .merit_num {
    font-size: 22px;
  }
  .merit_title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .merit_image {
    width: 50%;
    margin: 0 auto 20px;
  }
  .operation .sec_inner {
    padding: 0 45px;
  }
  .operation .operation_title_image {
    width: 34%;
    top: 260%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  .operation .operation_lead {
    margin-top: 160px;
    margin-bottom: 44px;
    letter-spacing: -1px;
  }
  .operation .operation_list {
    flex-direction: column;
  }
  .operation .operation_list li {
    width: 100%;
    padding: 40px 49px 24px;
    margin-bottom: 20px;
  }
  .operation .operation_list li:not(:last-child)::after {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 15px solid #41c3de;
    top: unset;
    bottom: -13%;
    right: 43%;
  }
  .operation .operation_list li .operation_num {
    font-size: 23px;
    width: 40px;
    height: 40px;
    top: -1%;
    left: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  .operation .operation_list li .operation_image {
    margin-bottom: 20px;
  }
  .app_service .app_service_title_image {
    width: 34%;
    top: 260%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  .app_service .app_service_list {
    gap: 24px;
    margin-top: 160px;
    margin-bottom: 32px;
  }
  .app_service .app_service_list > li .app_service_icon {
    margin: 0 auto 12px;
  }
  .app_service .app_service_list > li ul {
    gap: 10px;
  }
  .app_service .app_service_list > li ul li {
    font-size: 16px;
    padding-left: 12px;
  }
  .app_service .app_service_lead {
    font-size: 18px;
    line-height: 1.6;
  }
  .app_service .app_service_image {
    width: 54%;
  }
  .supervisor_new {
    margin-top: 0 !important;
    padding: 30px 0;
  }
  .supervisor_new_box h2::after {
    display: none;
  }
  .supervisor_new_box .supervisor_new_title {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 26px;
    position: relative;
  }
  .supervisor_new_box .supervisor_new_title::after {
    position: absolute;
    content: "";
    background-color: #41c3de;
    border-radius: 20px;
    width: 100%;
    height: 1px;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
  }
  .supervisor_new_image {
    width: 34%;
  }
  .supervisor_new_box h2 {
    font-size: 16px;
    margin-bottom: 0;
    line-height: 1.6;
  }
  .supervisor_new_box h2 .supervisor_name {
    font-size: 20px;
  }
  .supervisor_new_box h2 .supervisor_sub_title {
    font-size: 14px;
  }
  .supervisor_new_box .supervisor_new_txt {
    font-size: 14px;
    flex-direction: column;
    gap: 14px;
  }
  .supervisor_new_box .career p {
    display: flex;
    align-items: flex-start;
    margin: 0 0 6px;
  }
  .supervisor_new_box .career p .year {
    flex: 0 0 4em;
  }
  .supervisor_new_box .career p .text {
    flex: 1;
  }
}
