@charset "utf-8";
main {
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
section.kv_area {
  padding-top: 0;
}
.diagnosis span.page_ttl {
  color: #e33701;
}
.diagnosis_box {
  max-width: 801px;
  width: 40%;
  margin: 0 auto;
}
.bg_diagnosis {
  position: relative;
}
.bg_diagnosis span:before {
  content: "";
  display: inline-block;
  width: 396px;
  height: 347px;
  background-image: url(/wp-content/themes/ninchisho/img/diagnosis/round_l_p.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.diagnosis_txt {
  text-align: center;
}
.diagnosis_ttl {
  font-size: 30px;
  font-weight: bold;
  color: #184855;
  padding: 120px 0 40px;
}
.diagnosis_lead {
  font-size: 18px;
  color: #666666;
  padding-bottom: 80px;
  line-height: 1.4;
}
.btn_box a:first-child img {
  padding: 80px 0 24px;
}
.cognition {
  width: 100%;
  height: auto;
  background-image: url(/wp-content/themes/ninchisho/img/diagnosis/bg_cognition.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 80px;
  padding-bottom: 80px;
}
.cognition_inn {
  max-width: 85%;
  margin: 0 auto;
}
.cognition_ttl {
  font-size: 34px;
  font-weight: 500;
  color: #149c3d;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cognition_ttl:before,
.cognition_ttl:after {
  border-top: 4px solid;
  content: "";
  width: 3em;
}
.cognition_ttl:before {
  margin-right: 1em;
}
.cognition_ttl:after {
  margin-left: 1em;
}
.cognition_lead {
  font-size: 20px;
  background-color: #fff;
  padding: 24px;
  max-width: 514px;
  border-radius: 16px;
  margin: 40px auto;
  line-height: 1.6;
}
.cognition_item {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #cccccc;
  border-radius: 16px;
  padding: 24px;
}
.cognition_image {
  width: 16%;
}
.cognition_box {
  width: 82%;
}
.cognition_txt {
  font-size: 1.2vw;
  color: #666666;
}
.btn_cognition {
  text-align: right;
}
.btn_cognition a {
  position: relative;
}
.btn_cognition a span {
  font-size: 1.4vw;
  color: #0c559e;
  border: 1px solid #0c559e;
  border-radius: 37px;
  padding: 10px 6% 10px 5%;
}
.btn_cognition a span:after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 10px;
  background-image: url(/wp-content/themes/ninchisho/img/diagnosis/arrow_r_blue.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 50%;
  right: 12%;
}
.cognition_list li:not(:last-child) {
  margin-bottom: 20px;
}

.btn_app {
  width: 40%;
  margin: 0 auto;
}
.btn_app div {
  display: flex;
  justify-content: center;
}
.btn_app div a:first-child {
  margin-right: 100px;
}
.btn_app div a:first-child img {
  width: 335px;
}
.btn_app div a:last-child img {
  width: 387px;
}

@media only screen and (min-width: 1177px) {
  body {
    position: relative;
  }
  body:before {
    content: "";
    display: inline-block;
    max-width: 536px;
    width: 38%;
    min-height: 3141px;
    height: auto;
    background-image: url(/wp-content/themes/ninchisho/img/diagnosis/round_l.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 7%;
    left: -9%;
  }
  body:after {
    content: "";
    display: inline-block;
    width: 50%;
    min-height: 3183px;
    height: auto;
    background-image: url(/wp-content/themes/ninchisho/img/diagnosis/round_r.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 7%;
    right: -24%;
  }
}
@media only screen and (max-width: 1700px) {
  body:before {
    left: -12%;
  }
  body:after {
    top: 6%;
    right: -26%;
  }
}
@media only screen and (max-width: 1487px) {
  body:before {
    width: 44%;
    left: -22%;
  }
  body:after {
    width: 56%;
    right: -36%;
  }
  .btn_app div {
    max-width: 95%;
    margin: 0 auto;
  }
  .btn_app {
    width: 40%;
    margin: 0 auto;
  }
  .btn_app div a:first-child {
    margin-right: 60px;
  }
}
@media only screen and (max-width: 1366px) {
  body:before {
    top: 7%;
    left: -27%;
  }
  body:after {
    width: 62%;
    top: 5%;
    right: -34%;
  }
  .breadcrumbs {
    max-width: 95%;
  }
  .btn_app {
    width: 60%;
  }
}
@media only screen and (max-width: 780px) {
  article.page section.kv_area {
    margin-top: 70px;
  }
  .diagnosis span.page_ttl {
    margin-top: 8%;
  }
  .diagnosis_box {
    width: 95%;
  }
  .diagnosis_ttl {
    font-size: 20px;
    padding: 60px 0 20px;
  }
  .diagnosis_lead {
    font-size: 14px;
    padding-bottom: 40px;
  }
  .btn_box {
    width: 95%;
    margin: 0 auto;
  }
  .btn_box a:first-child img {
    padding: 40px 0 10px;
  }
  .cognition {
    margin-top: 0;
    padding-bottom: 40px;
  }
  .cognition_inn {
    max-width: 95%;
  }
  .cognition_ttl {
    font-size: 20px;
  }
  .cognition_ttl:before,
  .cognition_ttl:after {
    border-top: 2px solid;
    width: 1em;
  }
  .cognition_lead {
    font-size: 14px;
    max-width: 90%;
    padding: 20px;
    margin: 20px auto 20px;
  }
  .cognition_item {
    display: block;
  }
  .cognition_image {
    width: 100%;
    padding-bottom: 20px;
  }
  .cognition_box {
    width: 100%;
  }
  .cognition_txt {
    font-size: 14px;
    line-height: 25px;
  }
  .btn_cognition {
    text-align: center;
    width: 80%;
    margin: 20px auto 20px;
  }
  .btn_cognition a span {
    font-size: 12px;
    padding: 12px 70px 11px 68px;
    line-height: 12px;
  }
  .btn_cognition a span:after {
    right: 22%;
  }

  .btn_app {
    width: 95%;
    margin-top: 60px;
  }
  .btn_app div a:first-child {
    margin-right: 30px;
  }
  .btn_app div a:first-child img {
    width: 218px;
    margin-bottom: 10px;
  }
  .btn_app div a:last-child img {
    width: 100%;
  }
}
