@charset "utf-8";
main {
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
.breadcrumbs {
  margin: 8px auto 0;
}
section.kv_area {
  padding-top: 0;
}
span.page_ttl {
  top: 30%;
}
span.page_ttl.js_typing::before {
  content: "";
  display: inline-block;
  background: url(../img/gymnastics/kv_icon.png) no-repeat center center / contain;
  width: 140px;
  height: 140px;
  position: absolute;
  top: -520%;
  left: 46%;
}
section {
  padding: 80px 0;
}
.sec_inner {
  max-width: 1110px;
  margin: 0 auto;
}
h2 {
  font-size: 32px;
  color: #de4186;
  font-weight: bold;
  text-align: center;
  margin-bottom: 72px;
  position: relative;
  line-height: 1.4;
}
h2::after {
  position: absolute;
  content: "";
  background-color: #de4186;
  border-radius: 20px;
  width: 72px;
  height: 6px;
  bottom: -24px;
  left: 50%;
  transform: translateX(-50%);
}
p {
  font-size: 18px;
  line-height: 1.7;
}
.sec_title {
  position: relative;
}
.why_prevention .why_prevention_lead {
  font-weight: 500;
  margin-bottom: 48px;
}
.why_prevention .why_prevention_box {
  background-color: #fff;
  border: 3px dotted #de4186;
  border-radius: 20px;
  padding: 40px 48px;
  position: relative;
}
.why_prevention .why_prevention_box_sublead {
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}
.why_prevention .why_prevention_sublead {
  font-weight: bold;
}
.why_prevention .why_prevention_image {
  position: absolute;
  width: 13%;
  right: 6%;
  top: -64%;
}
.why_prevention .youtube {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.why_prevention .youtube:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}
.why_prevention .youtube img {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: clamp(60px, 10vw, 100px);
  height: auto;
  pointer-events: none;
  height: auto;
}
.why_prevention .youtube video {
  /* width: 100%; */
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}
@media (hover: hover) {
  .why_prevention .youtube:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease;
  }
}

.movement {
  background-color: #fcf0f5;
}
.movement_title_image {
  width: 16%;
  position: absolute;
  top: -40%;
  left: 6%;
}
.movement h2 {
  margin-bottom: 98px;
}
.movement_list .movement_item {
  background-color: #fff;
  border: 3px dotted #de4186;
  border-radius: 20px;
  padding: 85px 80px 48px;
  position: relative;
}
.movement_list .movement_item:not(:last-child) {
  margin-bottom: 87px;
}
.movement_list .movement_item:last-child {
  margin-bottom: 64px;
}
.movement_list .movement_item .movement_list_title {
  background: #cf4c7b;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 48%;
  border-radius: 10px;
  padding: 12px 82px;
  position: absolute;
  top: 0;
  left: 28%;
  transform: translateY(-50%);
}
.movement_list .movement_item .movement_list_title p {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  line-height: 1.4;
}
.movement_list .movement_item .movement_list_title p span {
  font-size: 46px;
  font-weight: bold;
  color: #cf4c7b;
  text-align: center;
  background: #fff;
  border: 4px solid #cf4c7b;
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  left: -48px;
  top: 50%;
  transform: translateY(-50%);
  width: 90px;
  height: 90px;
  display: grid;
  place-items: center;
  box-sizing: border-box;
  line-height: 1;
  text-align: center;
  --shift-x: 2px;
  --shift-y: 3px;
  padding-right: calc(2 * var(--shift-x));
  padding-bottom: calc(2 * var(--shift-y));
  font-variant-numeric: tabular-nums lining-nums;
  font-feature-settings: "tnum" 1, "lnum" 1;
}
.movement_list .movement_item .movement_image {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.movement_list .movement_item .movement_image img {
  width: 49%;
}
.movement_list_sublist li {
  text-align: center;
  display: block;
}
.movement_list_sublist li p {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px dotted #de4186;
  display: inline-block;
  text-align: left;
  width: 60%;
  padding-bottom: 12px;
  margin-bottom: 18px;
}
.movement_list_sublist li span {
  font-size: 15px;
  color: #fff;
  font-weight: bold;
  background-color: #de4186;
  border-radius: 50%;
  padding: 3px 10px;
  margin-right: 8px;
}

.comment {
  max-width: 1100px;
  margin: 0 auto;
}
.comment .comment_inner {
  background-color: #fff;
  background-image: linear-gradient(0deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px)), linear-gradient(90deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px));
  background-size: 56px 56px;
  width: 100%;
  background-repeat: repeat;
  border-radius: 20px;
  padding: 88px 72px 40px;
  margin-left: auto;
  position: relative;
}
.comment .comment_title {
  max-width: 336px;
  width: 100%;
  position: absolute;
  top: 16px;
  left: -16px;
}
.comment .comment_txt {
  font-weight: 500;
}

.gymnastics_everyday .gymnastics_everyday_image {
  width: 11%;
  position: absolute;
  top: -40%;
  left: 6%;
}
.gymnastics_everyday .gymnastics_everyday_lead {
  font-weight: 500;
  margin-bottom: 48px;
}
.gymnastics_everyday .gymnastics_everyday_list li {
  display: flex;
  justify-content: space-between;
  border: 2px solid #de4186;
  border-radius: 20px;
  background-color: #fcf5f8;
  padding: 64px;
}
.gymnastics_everyday .gymnastics_everyday_list li:not(:last-child) {
  margin-bottom: 40px;
}
.gymnastics_everyday .gymnastics_everyday_list li .gymnastics_everyday_box {
  font-weight: bold;
  width: 43%;
}
.gymnastics_everyday .gymnastics_everyday_list li .gymnastics_everyday_subtitle {
  font-size: 14px;
  color: #de4186;
  border-bottom: 3px dotted #de4186;
  padding-bottom: 5px;
  margin-bottom: 40px;
  display: inline-block;
  line-height: 1.4;
}
.gymnastics_everyday .gymnastics_everyday_list li .gymnastics_everyday_txt {
  font-weight: 500;
}
.gymnastics_everyday .gymnastics_everyday_list li .gymnastics_everyday_title {
  font-size: 28px;
  color: #de4186;
  margin-bottom: 24px;
}
.gymnastics_everyday .gymnastics_everyday_list li .gymnastics_everyday_item_image {
  width: 50%;
}

.gymnastics_supervisor {
  background-color: #fcf0f5;
}
.gymnastics_supervisor .sec_inner {
  display: flex;
  justify-content: flex-start;
  gap: 44px;
}
.gymnastics_supervisor .gymnastics_supervisor_image {
  width: 22%;
}
.gymnastics_supervisor .gymnastics_supervisor_box {
  width: 78%;
}
.gymnastics_supervisor .gymnastics_supervisor_box h2 {
  text-align: left;
  margin-bottom: 40px;
}
.gymnastics_supervisor .gymnastics_supervisor_name {
  font-size: 37px;
  color: #707070;
}
.gymnastics_supervisor .gymnastics_supervisor_subtitle {
  font-size: 26px;
  color: #707070;
}

.gymnastics_supervisor .gymnastics_supervisor_box h2::after {
  width: 100%;
  height: 1px;
  bottom: -16px;
}
.gymnastics_supervisor .gymnastics_supervisor_txt {
  display: flex;
  justify-content: flex-start;
}
.gymnastics_supervisor .gymnastics_supervisor_txt p {
  font-size: 14px;
}
.gymnastics_supervisor .gymnastics_supervisor_career {
  width: 36%;
  margin-right: 88px;
}
.gymnastics_supervisor .gymnastics_supervisor_notes span {
  position: relative;
  padding-left: 1em;
}
.gymnastics_supervisor .gymnastics_supervisor_notes span::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #de4186;
  position: absolute;
  top: 50%;
  left: 0;
}

.app_service .app_service_list > li {
  border: 3px dotted #de4186;
}

.foot_bnr_area {
  display: none;
}

@media only screen and (max-width: 1366px) {
  .breadcrumbs {
    max-width: 95%;
  }
  span.page_ttl.js_typing::before {
    width: 130px;
    height: 130px;
    top: -230%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
}
@media only screen and (max-width: 1176px) {
  span.page_ttl.js_typing::before {
    width: 110px;
    height: 110px;
  }
}
@media only screen and (max-width: 1100px) {
  .app_service .app_service_list > li {
    width: 100%;
  }
}
@media only screen and (max-width: 780px) {
  article.page .kv_top {
    max-width: 100%;
  }
  article.page .kv_top img {
    aspect-ratio: 2 / 1;
  }
  span.page_ttl.js_typing::before {
    width: 90px;
    height: 90px;
    top: -160%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  h2 {
    font-size: 20px;
    margin-bottom: 44px;
  }
  h2::after {
    width: 48px;
    height: 4px;
    bottom: -16px;
  }
  p {
    font-size: 14px;
  }
  section {
    padding: 40px 0;
  }
  .breadcrumbs span:first-of-type {
    letter-spacing: -1px;
  }
  .sec_inner {
    padding: 0 20px;
  }
  .why_prevention .why_prevention_lead {
    margin-bottom: 100px;
  }
  .why_prevention .why_prevention_box {
    padding: 32px 24px;
  }
  .why_prevention .why_prevention_box_sublead {
    margin-bottom: 32px;
  }
  .why_prevention .why_prevention_sublead {
    letter-spacing: -0.8px;
  }
  .why_prevention .why_prevention_image {
    width: 33%;
    top: -64%;
    right: unset;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }

  .movement_title_image {
    width: 30%;
    top: 260%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  .movement h2 {
    margin-bottom: 182px;
  }
  .movement_list .movement_item {
    padding: 54px 24px 30px;
    margin-bottom: 54px;
  }
  .movement_list .movement_item:not(:last-child) {
    margin-bottom: 54px;
  }
  .movement_list .movement_item:last-child {
    margin-bottom: 24px;
  }
  .movement_list .movement_item .movement_list_title {
    width: 80%;
    padding: 8px 0;
    margin: 0 auto;
    left: 13%;
  }
  .movement_list .movement_item .movement_list_title p {
    font-size: 20px;
  }
  .movement_list .movement_item .movement_list_title p span {
    font-size: 29px;
    left: -28px;
    width: 60px;
    height: 60px;
    --shift-x: 1px;
    --shift-y: 2px;
  }
  .movement_list .movement_item .movement_image {
    flex-direction: column;
    margin-bottom: 24px;
    gap: 8px;
  }
  .movement_list .movement_item .movement_image img {
    width: 100%;
  }
  .movement_list_sublist li p {
    font-size: 14px;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: inline-flex;
    align-items: center;
  }
  .movement_list_sublist li span {
    padding: 1px 10px;
  }

  .comment {
    margin: 0 20px;
  }
  .comment .comment_inner {
    width: 98%;
    padding: 77px 20px 20px;
  }
  .comment .comment_title {
    width: 90%;
    position: absolute;
    top: 16px;
    left: -10px;
  }

  .gymnastics_everyday {
    padding-bottom: 10px;
  }
  .gymnastics_everyday .gymnastics_everyday_image {
    width: 20%;
    top: 424%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  .gymnastics_everyday .gymnastics_everyday_lead {
    margin-bottom: 132px;
  }
  .gymnastics_everyday .gymnastics_everyday_list li {
    flex-direction: column;
    padding: 24px 24px 32px;
  }
  .gymnastics_everyday .gymnastics_everyday_list li:not(:last-child) {
    margin-bottom: 24px;
  }
  .gymnastics_everyday .gymnastics_everyday_list li .gymnastics_everyday_box {
    width: 100%;
    text-align: center;
  }
  .gymnastics_everyday .gymnastics_everyday_list li .gymnastics_everyday_subtitle {
    font-size: 11px;
    margin-bottom: 20px;
  }
  .gymnastics_everyday .gymnastics_everyday_list li .gymnastics_everyday_title {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .gymnastics_everyday .gymnastics_everyday_list li .gymnastics_everyday_txt {
    text-align: left;
    margin-bottom: 24px;
  }
  .gymnastics_everyday .gymnastics_everyday_list li .gymnastics_everyday_item_image {
    width: 100%;
  }

  .gymnastics_supervisor {
    margin-top: 0 !important;
  }
  .gymnastics_supervisor .gymnastics_supervisor_box {
    width: 100%;
  }
  .gymnastics_supervisor .gymnastics_supervisor_box h2::after {
    display: none;
  }
  .gymnastics_supervisor .gymnastics_supervisor_title {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 26px;
    position: relative;
  }
  .gymnastics_supervisor .gymnastics_supervisor_image {
    width: 34%;
  }
  .gymnastics_supervisor .gymnastics_supervisor_box h2 {
    font-size: 16px;
    margin-bottom: 0;
    line-height: 1.6;
  }
  .gymnastics_supervisor .gymnastics_supervisor_name {
    font-size: 20px;
  }
  .gymnastics_supervisor .gymnastics_supervisor_subtitle {
    font-size: 14px;
  }
  .gymnastics_supervisor .gymnastics_supervisor_title::after {
    position: absolute;
    content: "";
    background-color: #de4186;
    border-radius: 20px;
    width: 100%;
    height: 1px;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
  }
  .gymnastics_supervisor .gymnastics_supervisor_txt {
    font-size: 14px;
    flex-direction: column;
    gap: 14px;
  }
  .gymnastics_supervisor .gymnastics_supervisor_career {
    width: 100%;
    margin-right: 0;
  }
  .gymnastics_supervisor .gymnastics_supervisor_notes {
    padding-left: 1em;
    text-indent: -1em;
  }
  .gymnastics_supervisor .gymnastics_supervisor_notes span {
    padding-left: 1em;
  }
  .gymnastics_supervisor .gymnastics_supervisor_notes span::before {
    top: 22%;
  }
}
